.gallery {
  overflow-y: scroll;
  div {
    width: max-content;
    img {
      display: block;
      width: 100%;
    }
  }
  @media (orientation: landscape) {
    div {
      height: 90vh;
      img {
        height: 90vh;
      }
    }
  }
  @media (orientation: portrait) {
    div {
      height: 40vh;
      img {
        height: 40vh;
      }
    }
  }
}
