.hero {
  background-color: #ff90e8;
}

.navigation {
  background-color: #000;
  .navigation__link {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 300;
  }
}
.price {
  background-color: #23a094;
  color: #fff;
  &__list {
    font-family: "Mabry Pro";
    font-size: 1.5rem;
  }
  &__more li {
    &::before {
      content: " – ";
      position: relative;
      top: -0.15rem;
    }
  }
}

.feedback {
  &__text {
    font-family: "Mabry Pro";
    font-size: 1.5rem;
    @media (max-width: 767.98px) {
      font-size: 1.2rem;
    }
    &::before {
      content: "«";
      position: absolute;
      margin-left: -4rem;
      margin-top: -2rem;
      font-size: 4rem;
    }
    &::after {
      content: "»";
      position: absolute;
      padding-left: 2rem;
      margin-top: -2rem;
      font-size: 4rem;
    }
  }
}

.team {
  background-color: #000;
  &__achivment {
    filter: drop-shadow(10px 10px 0px #ffc900);
    font-size: 1.5rem;
    @media (max-width: 767.98px) {
      font-size: 1rem;
    }
    &:nth-of-type(2) {
      filter: drop-shadow(10px 10px 0px #ff90e8);
    }
    &:nth-of-type(3) {
      filter: drop-shadow(10px 10px 0px #23a094);
    }
    &:nth-of-type(4) {
      filter: drop-shadow(10px 10px 0px #90a8ed);
    }
    &:nth-of-type(5) {
      filter: drop-shadow(10px 10px 0px #ff7051);
    }
  }
}

.contacts {
  &__pic {
    filter: drop-shadow(10px 10px 0px #ff90e8);
  }
}
